<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="55555"/>
		<add key="ip" value="127.0.0.1"/>
	</appSettings>
	<connectionStrings>
		<add name="basketballDB" connectionString="Data Source=C:\Users\dento\Desktop\github\Projects\BasketballClientServer\basketball.db"/>
	</connectionStrings>
</configuration>